extends layout

block content
  h1= title
  p #{t('home.welcome', {title: title})}

  h1 #{t('home.content')}

  p #{t('home.record_infor')}

  ul
    li #[strong #{t('home.book')}] !{numBooks}
    li #[strong #{t('home.bookinstance')}] !{numBookInstances}
    li #[strong #{t('home.available_bookinstance')}] !{numAvailableBookInstances}
    li #[strong #{t('home.author')}] !{numAuthors}
    li #[strong #{t('home.genre')}] !{numGenres}
