extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a line with #[em some emphasis] and #[strong strong text] markup.
  p This line has an un-escaped string: !{'<em> is emphasized</em>'}
  |, an escaped string: #{'<em> is not emphasized</em>'}
  |, and escaped variables: #{title}.